@media screen and (max-width:500px) {
    h1{
        font-size: 55px;
        position: relative;
        top: 130px;
    }
    h1 img{
        height: 50px;
    }
    .set{
        position: relative;
        top: 80px;
        padding: 5px 10px;
        left: -5px;
        line-height: 5;
    }
    .set button{
        height: 8vh;
        width: 22vw;
    }
}